@using EntityLayer.Entities
@model List<Blog>
@{
    ViewData["Title"] = "BlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["ActivePage"] = "BlogList";
    var count = 0;
}
@if (ViewBag.Message != null)
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <h3 class="text-success">
                @ViewBag.Message
            </h3>
        </div>
    </div>
}
else
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Blog List</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Blog Adı</th>
                        <th>Kategori</th>
                        <th></th>
                    </tr>
                    @if (User.IsInRole("Admin"))
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.BlogTitle</td>
                                <td>@item.Category.CategoryName</td>
                                <td>
                                    <a href="/Admin/Dashboard/DeleteBlog/@item.BlogID/" class="btn btn-outline-danger">Sil</a>
                                    <a href="/Admin/Dashboard/UpdateBlog/@item.BlogID/" class="btn btn-outline-info">Düzenle</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.BlogTitle</td>
                                <td>@item.Category.CategoryName</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
}