@using EntityLayer.Entities
@model List<Blog>
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="card mb-12">
                    <h5 class="card-header">Default</h5>
                    <div class="card-body">
                        <form method="post">
                            <div>
                                <input type="hidden" name="BlogID" value="@item.BlogID" />
                                <input type="hidden" name="BlogCreatedDate" value="@item.BlogCreatedDate">
                                <input type="hidden" name="AppUserId" value="@item.AppUserId">
                                <input type="hidden" name="BlogImage" value="@item.BlogImage">
                            </div>
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Blog Title</label>
                                <input type="text" class="form-control" name="BlogTitle" value="@item.BlogTitle" />
                            </div>
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Blog Category</label>
                                <select class="form-control" name="CategoryID">
                                    @foreach (var x in @ViewBag.CategoryList)
                                    {
                                        <option value="@x.Value" @(item.Category.CategoryName == x.Text ? "selected" : "")>@x.Text</option>
                                    }
                                </select>
                            </div>
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Blog Content</label>
                                <input type="text" class="form-control" name="BlogContent" value="@item.BlogContent" />
                            </div>
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Blog Status</label>
                                <select class="form-control" name="BlogStatus">
                                    <option value="true" @(item.BlogStatus == true ? "selected" : "")>Yayında</option>
                                    <option value="false" @(item.BlogStatus == false ? "selected" : "")>Onay Bekliyor</option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <button class="btn btn-primary" type="submit">Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
